VITE_API_TOKEN=
VITE_BASE_URL=https://api.themoviedb.org/3
VITE_FACEBOOK_URL=https://www.facebook.com/
VITE_IMAGE_URL=https://image.tmdb.org/t/p/original
VITE_IMDB_URL=https://www.imdb.com/name/
VITE_INSTAGRAM_URL=https://www.instagram.com/
VITE_TIKTOK_URL=https://www.tiktok.com/
VITE_WIKIPIEDIA_URL=https://www.wikidata.org/wiki/
VITE_X_URL=https://x.com/
VITE_YOUTUBE_URL=https://www.youtube.com/embed/
VITE_YOUTUBE_URL_FOR_USER=https://www.youtube.com/@